.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}