<section>

    <main>
        <p class="selectaed_date">SELECTED DATE: {{date$ | async | date:'dd.MM.yyyy'}}</p>
        <mat-list class="task_list">
            <ul *ngIf="tasks.length; else noTasks">
                <mat-list-item [@smoothUpdate]="animationState" class="task" *ngFor="let task of tasks; let i = index">
                    <div class="task_content">
                        <mat-icon matListItemIcon>receipt_long</mat-icon>
                        <span>
                            <strong>{{i + 1}}</strong>
                            {{task.title}}
                        </span>
                    </div>

                    <button class="rmv_btn" mat-flat-button color="warn" (click)="remove(task)">Remove</button>
                </mat-list-item>
            </ul>
            <ng-template #noTasks>
                <p [@smoothUpdate]="animationState" class="text-center">No tasks yet...</p>
            </ng-template>
        </mat-list>
    </main>

    <footer>
        <div class="create_wrap">
            <mat-form-field appearance="fill" (ngSubmit)="submit()" [formGroup]="form">
                <mat-label>Write your task</mat-label>
                <!-- <input matInput type="text" formControlName="title" > -->
                <textarea matInput formControlName="task"></textarea>
            </mat-form-field>

            <button type="submit" mat-flat-button color="primary" (click)="submit()"
                [disabled]="form.invalid">Add</button>
        </div>
    </footer>
</section>