mat-list {
    margin: 30px 0px 30px 0px;

    .task {
        display: flex;
        align-items: center;



        mat-icon {
            margin-right: 5px;
        }

        button {
            margin-left: 25px;
        }
    }
}

.create_wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}